<% if user_signed_in? and !has_limit? %>
      <%= simple_form_for Poem.new, :html => {:class => 'form-horizontal special-form'} do |f| %>
          <%= f.input :content , placeholder: "برای شروع مصرع دوم از اینتر استفاده کنید."%>
          <%= f.input :poet_name, input_html: { class: 'typeahead' }%>
          <%= f.input :subject , collection: subject_collection , selected: "asheghane" %>
          <div class="form-actions action_new_in_index">
            <%= f.button :submit, :class => 'btn-primary', value:"ثبت بیت جدید" %>
          </div>
      <% end %>
<% end %>

