<script type="text/javascript">
$(function () {
  $('.information').each( function () { 
    $(this).popover({
    html: true , 
    content: function() { return $(".infodiv"+this.id).html();},
    placement : 'left'
  });
});

$('body').on('click', function (e) {
    $('.information').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

});
</script>



<%= paginate poems , param_name: param_name%>

<div class="index">
  <div class="m1 inline">
    <% poems.each do |p| %>
        <%= p.content.split(/ {2,}/)[0] %>
        <br>
    <% end %>
  </div>
  <div class="m2 inline">
    <% poems.each do |p| %>
        <%= p.content.split(/ {2,}/)[1] %>
        <br>
    <% end %>
  </div>
  <div class="m3 inline inline-icon">
    <% poems.each do |p| %>
        <%= p.poet_name %>
        <br>
    <% end %>
  </div>

  <div class="m4 inline inline-icon">
    <% poems.each do |p| %>
         <button class="information" id=<%=p.id%>><i class="icon-search" style="color: rgb(0, 136, 204)"></i></button>
         <%= render partial: "popover" , locals: { p:p } %>  
      <br>
    <% end %>
  </div>
</div>
