<script type="text/javascript">
$(function () {
  $('.information').each( function () { 
    $(this).popover({
    html: true , 
    content: function() { return $(".infodiv"+this.id).html();},
    placement : 'right'
  });
});

$('body').on('click', function (e) {
    $('.information').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

});
</script>


<%= paginate poems , param_name: param_name%>
<table class="table table-hover">
  <tbody>
    <% poems.each do |p| %>
      <tr>
        <td><%= p.content.split(/ {2,}/)[0] %></td>
        <td><%= p.content.split(/ {2,}/)[1] %></td>
        <td><%= p.poet_name %></td>
        <td><button class="information" id=<%=p.id%>><i class="icon-search" style="color: rgb(0, 136, 204)"></i></button></td>
        <%= render partial: "poems/popover" , locals: { p:p } %>  
      </tr>
    <% end %>
  </tbody>
</table>

