<body id="poems-index">
<div class="profile-show-poems">
  <h1><%= t('.titl2') %> </h1>
</div>

<%= render :partial => 'welcome/show' %>


<br> <br>   <br> <br>
  <% po = current_user.poems :condition => ["DATE(created_at) = DATA(?)" , Time.now] %>
<% if user_signed_in? and po.count < 20 %>
    <div class="new_in_index">
      <%= simple_form_for Poem.new, :html => {:class => 'form-horizontal special-form'} do |f| %>
          <%= f.input :content %>
          <%= f.input :poet_name %>
          <div class="form-actions action_new_in_index">
            <%= f.button :submit, :class => 'btn-primary', value: t('.poem_new') %>
          </div>
          </div>
      <% end %>
<% end %>
</body>
