<br> <br> <Br>
<p>
<div class="profile-show-poems">

  <h1>لیست اشعار ثبت شده</h1>
  <br>
  <% @poems.each do |p| %>
      <ul class="inline">
        <li class="user-profile-poems"> <%= p.content %> </li>
        <li>
          <small> <%= p.poet_name %> </small>
        </li>
        <li></li>
        <li>
          <small>
            <%= link_to t(:show_html), p, title: t(:show_poem) %>
          </small>
        </li>
        <li>
          <small>
            <% if Vote.exists?(poem_id: p.id, user_id: current_user.id) %>
                <%= link_to t(:minus_html), unvote_path(p.id), method: :post, title: t(:minus) %>
            <% else %>
                <%= link_to t(:plus_html), upvote_path(p.id), method: :post, title: t(:plus) %>
            <% end %>
          </small>
        </li>
        <li>
          <small>
            <% if user_signed_in? and p.user_id == current_user.id %>
                <td><%= link_to t(:delete_html), poem_path(p), method: :delete, title: t(:delete_poem) %></td>
            <% end %>
          </small>
        </li>
      </ul>
  <% end %>
</div>

<br> <br>
<% if user_signed_in? %>
<div class="new_in_index">
<%= simple_form_for Poem.new, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :content %>
  <%= f.input :poet_name %>
  <div class="form-actions action_new_in_index">
  <%= f.button :submit, :class => 'btn-primary' , value: t('.poem_new') %>
  </div>
</div>
      <% end %>
<% end %>
