<h2> Sign in </h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="form-inputs"
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me %>
  <% end %>
</div>

    <div class="form-actions">
  <%= f.submit "Sign in" , class: "btn btn-primary"%>
      <%= render "users/shared/links" %>
                              </div>
<% end %>







