<div class="hero-unit main-unit">
<div class="detail_first" id="3">
  <h1><%= t(:detail_more) %> </h1>
</div>


  <div class="row-fluid">
    <ul class="thumbnails t2">
      <li class="span4">
        <div class="thumbnail">
          <i class="icon-strikethrough icon-6"></i>
        </div>
        <div class="caption">
          <h4><%= t(:free) %> </h4>
          <p><%= t(:free_desc) %> </p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <i class="icon-road icon-6"></i>
        </div>
        <div class="caption">
          <h4><%= t(:simple) %> </h4>
          <p> <%= t(:simple_desc) %> </p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <i class="icon-github icon-6"></i>
        </div>
        <div class="caption">
          <h4><%= t(:open) %> </h4>
          <p><%= t(:open_desc) %> </p>
        </div>
      </li>
    </ul>
  </div>

</div>
