<div class="detail_first" id="2">
  <h1><%= t(:detail) %> </h1>
  <p><%= t(:detail_more) %> </p>
</div>

<div class="detail">

  <div class="row-fluid">
    <div class="span4">
       <%= image_tag "nomoney.gif" %>
      <h2><%= t(:free) %></h2>
      <p class="free"> <%= t(:free_desc) %> </p>
    </div>
    <div class="span4">
      <%= image_tag "esimple.gif" %>
      <h2 class="simple"><%= t(:simple) %> </h2>
      <p class="simple"> <%= t(:simple_desc) %> </p>
    </div>

    <div class="span4">
      <%= image_tag "circle.gif" %>
      <h2><%= t(:open) %> </h2>
      <p><%= t(:open_desc) %> </p>
      <p><%= t(:open_desc_html) %> </p>
    </div>
  </div>
</div>
