<div class="container">
  <div class="hero-unit main-unit" align="center">
    <h1 class="text-center"><%= t(:heading)%></h1>
    <h3 class="text-center"><%= t(:description) %> </h3>
    <br>
    <p><%= t(:tagline) %></p>
    <p class="text-center">
      <a class="btn btn-primary btn-large" href="#2">
        <%= t(:more) %>
      </a>
      <a class="btn btn-success btn-large" href="/poems">لیست ابیات</a>
    </p>
  </div>
</div>

<div class="detail_first" id="2">
  <h1><%= t(:detail) %> </h1>
  <p><%= t(:detail_more) %> </p>
</div>

<div class="detail">

  <div class="row-fluid">
    <div class="span4">
       <%= image_tag "nomoney.gif" %>
      <h2><%= t(:free) %></h2>
      <p class="free"> <%= t(:free_desc) %> </p>
    </div>
    <div class="span4">
      <%= image_tag "esimple.gif" %>
      <h2 class="simple"><%= t(:simple) %> </h2>
      <p class="simple"> <%= t(:simple_desc) %> </p>
    </div>

    <div class="span4">
      <%= image_tag "circle.gif" %>
      <h2><%= t(:open) %> </h2>
      <p><%= t(:open_desc) %> </p>
      <p><%= t(:open_desc_html) %> </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="hero-unit main-unit" align="center">
    <h1 class="text-center">امکانات</h1>
    <br>
    <p class="text-center">
    <ul class="unstyled">
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f1) %></h3></li>
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f2) %></h3></li>
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f3) %></h3></li>
    </ul>
    </p>
  </div>
</div>



