<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <ul class="nav nav-index">
        <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">سلام<%= current_user.user_name%>
                <b class="caret"></b>
                  </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#"> پروفایل شما</a>
                </li>
                <li>
                  <a href="#"> ویرایش پروفایل</a>
                </li>
                <li>
                  <a href="#"> خروج</a>
                </li>
                <li>
                  <a href="#"> ثبت بیت جدید</a>
                </li>
                <li>
                  <a href="#"> مدیریت بیت‌های خود</a>
                </li>
              </ul>
            </li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit main-unit" align="center">
    <h1 class="text-center"><%= t(:heading)%></h1>
    <h3 class="text-center"><%= t(:description) %> </h3>
    <br>
    <p><%= t(:tagline) %></p>
    <p class="text-center">
      <a class="btn btn-primary btn-large" href="#2">
        <%= t(:more) %>
      </a>
    </p>
  </div>
</div>

<div class="detail_first" id="2">
  <h1><%= t(:detail) %> </h1>
  <p><%= t(:detail_more) %> </p>
</div>

<div class="detail">

  <div class="row-fluid">
    <div class="span4">
      <img src="assets/nomoney.gif" class="money"></img>
      <h2><%= t(:free) %></h2>
      <p class="free"> <%= t(:free_desc) %> </p>
    </div>
    <div class="span4">
      <img src="assets/esimple.gif"></img>
      <h2 class="simple"><%= t(:simple) %> </h2>
      <p class="simple"> <%= t(:simple_desc) %> </p>
    </div>

    <div class="span4">
      <img src="assets/open.gif"> </img>
      <h2><%= t(:open) %> </h2>
      <p><%= t(:open_desc) %> </p>
      <p><%= t(:open_desc_html) %> </p>
    </div>
  </div>
</div>

<div class="features">
    <div class="row-fluid">
        <% if user_signed_in? %>
        <div align="center">
          <h1>امکانات</h1>
          <ul class="unstyled">
            <li><h3><i class="icon-check icon-check-index"></i><%= t(:f1) %></h3></li>
            <li><h3><i class="icon-check icon-check-index"></i><%= t(:f2) %></h3></li>
            <li><h3><i class="icon-check icon-check-index"></i><%= t(:f3) %></h3></li>
          </ul>
        </div>
        <% else %>
          <div class="span7" align="center">
            <h1>امکانات</h1>
            <ul class="unstyled">
              <li><h3><i class="icon-check icon-check-index"></i><%= t(:f1) %></h3></li>
              <li><h3><i class="icon-check icon-check-index"></i><%= t(:f2) %></h3></li>
              <li><h3><i class="icon-check icon-check-index"></i><%= t(:f3) %></h3></li>
            </ul>
          </div>
      <div class="span4">
            <%= render :partial => 'users/registrations/form' %>
      </div>
          <% end %>
    </div>
</div>




<h1>جام می</h1>
<% if user_signed_in? %>
    <%= link_to "Sign out" , destroy_user_session_path , method: :delete %>
    <%= link_to "Edit" , edit_user_registration_path %>
<% else %>
    <%= link_to "Sign up" , new_user_registration_path %>
    <%= link_to "Sign in" , new_user_session_path %>
<% end %>
