<div class="profile_statistic">
  <ul class="unstyled">
    <small>
      <li><%= t(:username) %> : <%= @user.user_name %> </li>
      <li><%= t(:poems_submited) %> : <%= @user.poems.count %></li>
      <li><%= t(:votes_submited) %> : <%= @user.votes.count %></li>
      <li><%= t(:user_score2) %> : <%= user_score(@user) %></li>
    </small>
  </ul>
</div>

<div class="profile-show-poems">
  <h1><%= t('.title') %> </h1>
</div>

<%= render :partial => 'show' %>
</div>
<div class="profile-show-poems">
  <h1><%= t('.title2') %> </h1>
</div>

<div class="down">
  <div class="m1 inline">
    <% @upvotes.each do |p| %>
        <%= p.poem.content.split(/ {2,}/)[0] %>
        <br>
    <% end %>
  </div>
  <div class="m2 inline">
    <% @upvotes.each do |p| %>
        <%= p.poem.content.split(/ {2,}/)[1] %>
        <br>
    <% end %>
  </div>
  <div class="m3 inline inline-icon">
    <% @upvotes.each do |p| %>
        <%= p.poem.poet_name %>
        <br>
    <% end %>
  </div>


  <div class="m4 inline inline-icon">
    <% @upvotes.each do |p| %>

        <%= link_to t(:show_html), p.poem, title: t(:show_poem) %>
        <% if user_signed_in? %>
            <% if current_user.id != p.poem.user_id %>
                <% if Vote.exists?(poem_id: p.poem.id, user_id: current_user.id) %>
                    <%= link_to t(:minus_html), unvote_path(p.poem.id), method: :post, title: t(:minus) %>
                <% else %>
                    <%= link_to t(:plus_html), upvote_path(p.poem.id), method: :post, title: t(:plus) %>
                <% end %>
            <% end %>
            <% if p.poem.user_id == current_user.id %>
                <%= link_to t(:delete_html), poem_path(p.poem), method: :delete, title: t(:delete_poem) %>
            <% end %>
        <% end %>

        <br>
    <% end %>
  </div>

</div>
</div>
<br> <br> <br>

