<% title t(:sign_up) %>

<body class="signup">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html => { :class => 'form-horizontal my_form' }) do |f| %>
    <Br> <br> <br>
    <%= f.input :email, :autofocus => true %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :user_name %>
    <div class="my_action">
        <%= f.button :submit , :class => 'btn-primary' , value: "ثبت‌نام" %>
        <%= link_to t(:forgot) , new_user_password_path , class: "salam"%>
    </div>

<% end %>

</body>



